
	<form method="POST">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="first">
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="last">
    <br>
    <label for="sub">Subscribe</label>
    <input type="checkbox" id="sub" name="subscribe">
    <br>
    <input type="submit">
</form>

<br>

<h1>First: {{.FirstName}}</h1>
<h1>Last: {{.LastName}}</h1>
<h1>Subscribed: {{.Subscribed}}</h1>
